@charset "UTF-8";
/* Variables */
/* table de style des menus sur la page d'accueil*/
/* table de style des menus sur la page des menus*/
/* Mixins*/
/*Mixins media queries*/
/*Mixin générale de style des menus générale*/
/*Mixin de style des menus unique à la page d'accueil*/
/*Mixin de style des menus unique à la page des menus*/
/*Mixins pour gestions sous titres des pages menu*/
/* Keyframes pour les animations */
.shake:hover {
  animation: shakes 1s ease-in-out;
}

@keyframes shakes {
  10%, 90% {
    transform: translateX(-1px);
  }
  20%, 80% {
    transform: translateX(2px);
  }
  30%, 50%, 70% {
    transform: translateX(-4px);
  }
  40%, 60% {
    transform: translateX(4px);
  }
}
@keyframes dots {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
/* Propriétés générale à l'ensemble des pages*/
body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  font-size: 1rem;
}

h2 {
  margin: 0px;
}

a {
  text-decoration: none;
}

table {
  width: 100%;
}

i {
  background: -webkit-linear-gradient(250deg, #f04a5e, #f8a183);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
}

header {
  background-color: #579c87;
  color: #FDCB46;
  font-family: "Roboto", sans-serif;
  font-size: 2vw;
  padding: 1.5vw;
  text-align: center;
  font-weight: 900;
}

footer {
  background-color: #579c87;
  color: #FDCB46;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer .footer_text {
  background-color: #579c87;
  color: #FDCB46;
  font-family: "Roboto", sans-serif;
  font-size: 1.5vw;
  padding: 1vw;
}

/* Propriétés de la page d'accueil */
.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 6rem;
  margin: 2rem;
}
@media screen and (max-width: 850px) {
  .home {
    grid-template-columns: 1fr;
    margin: 5rem;
  }
}
@media screen and (max-width: 599px) {
  .home {
    margin: 2rem 0rem;
  }
}
.home__menu {
  height: 600px;
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: transform 500ms ease-in-out;
}
@media screen and (max-width: 599px) {
  .home__menu {
    margin: 0;
    width: 100%;
  }
}
.home__menu__note {
  background-color: #fcdfdb;
  color: #3c1218;
  font-family: "Sriracha";
}
.home__menu__note .title {
  background: #3c1218;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Devonshire";
  font-weight: lighter;
  font-size: 3rem;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}
.home__menu__note .sub_home {
  font-family: "Sriracha";
  font-weight: lighter;
  font-size: 3rem;
}
.home__menu__chic {
  background-color: #fff5fe;
  color: #c77412;
  font-family: "Noto Serif";
}
.home__menu__chic .title {
  background: linear-gradient(140deg, #C67412, #A56799, #6E4CCC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Croissant one";
  font-weight: lighter;
  font-size: 1.9rem;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}
.home__menu__chic .sub_home {
  font-family: "Noto Serif";
  font-weight: bold;
  font-size: 3rem;
}
.home__menu__papille {
  background-color: #edefef;
  color: #0887fb;
  font-family: "Bad Script";
}
.home__menu__papille .title {
  background: linear-gradient(25deg, #0228dd, #0670f3, #229df9 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Dancing Script";
  font-weight: normal;
  font-size: 3rem;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}
.home__menu__papille .sub_home {
  font-family: "Bad Script";
  font-weight: bold;
  font-size: 3rem;
}
.home__menu__palette {
  background-color: #fdfffd;
  color: #72bf56;
  font-family: "Bad Script";
}
.home__menu__palette .title {
  background: linear-gradient(25deg, #3d9339, #bfff7e 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Kaushan Script";
  font-weight: normal;
  font-size: 3rem;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}
.home__menu__palette .sub_home {
  font-family: "Bad Script";
  font-weight: bold;
  font-size: 3rem;
}
.home__menu:hover {
  transform: scale(1.1);
  opacity: 0.5;
}

.upcoming {
  margin-bottom: 10vw;
  display: flex;
  justify-content: center;
}
.upcoming__btn {
  background-color: #579c87;
  color: #FDCB46;
  font-family: "Roboto", sans-serif;
  width: 25vw;
  height: 3vw;
  font-size: 1.5vw;
  border-radius: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 500ms ease-in-out;
}
.upcoming__btn:hover {
  transform: scale(1.1);
}

/*Bouton prochainement*/
.loading {
  width: 1.8vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.loading_dot {
  background-color: #FDCB46;
  height: 0.3vw;
  width: 0.3vw;
  animation: dots 1s backwards infinite ease-in-out alternate;
}
.loading_dot--1 {
  animation-delay: 0.3333333333s;
}
.loading_dot--2 {
  animation-delay: 0.6666666667s;
}
.loading_dot--3 {
  animation-delay: 1s;
}

/* Propriétés des pages des menus*/
.page {
  display: flex;
  justify-content: center;
}
.page__menu {
  margin: 2em auto 6em;
  padding: 4em 3em;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 850px) {
  .page__menu {
    margin: 0;
    width: 100%;
  }
}
.page__menu__note {
  background-color: #fcdfdb;
  color: #3c1218;
  font-family: "Sriracha";
}
.page__menu__note .title {
  background: #3c1218;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Devonshire";
  font-weight: lighter;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 20px;
}
.page__menu__note .subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 2em;
}
.page__menu__note .subtitle__menu {
  font-family: "Sriracha";
  font-weight: lighter;
  font-size: 1.5rem;
}
.page__menu__note .subtitle__menu__note__1 {
  color: #3c1218;
}
.page__menu__note .subtitle__menu__chic__1 {
  color: #C67412;
}
.page__menu__note .subtitle__menu__papille__1 {
  color: #0228dd;
}
.page__menu__note .subtitle__menu__palette__1 {
  color: #72bf56;
}
.page__menu__note .subtitle__menu__chic__2 {
  color: #A56799;
}
.page__menu__note .subtitle__menu__papille__2 {
  color: #0670f3;
}
.page__menu__note .subtitle__menu__chic__3 {
  color: #6E4CCC;
}
.page__menu__note .subtitle__menu__papille__3 {
  color: #229df9;
}
.page__menu__chic {
  background-color: #fff5fe;
  color: #c77412;
  font-family: "Noto Serif";
}
.page__menu__chic .title {
  background: linear-gradient(140deg, #C67412, #A56799, #6E4CCC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Croissant one";
  font-weight: lighter;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
}
.page__menu__chic .subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 2em;
}
.page__menu__chic .subtitle__menu {
  font-family: "Noto Serif";
  font-weight: bold;
  font-size: 1.5rem;
}
.page__menu__chic .subtitle__menu__note__1 {
  color: #3c1218;
}
.page__menu__chic .subtitle__menu__chic__1 {
  color: #C67412;
}
.page__menu__chic .subtitle__menu__papille__1 {
  color: #0228dd;
}
.page__menu__chic .subtitle__menu__palette__1 {
  color: #72bf56;
}
.page__menu__chic .subtitle__menu__chic__2 {
  color: #A56799;
}
.page__menu__chic .subtitle__menu__papille__2 {
  color: #0670f3;
}
.page__menu__chic .subtitle__menu__chic__3 {
  color: #6E4CCC;
}
.page__menu__chic .subtitle__menu__papille__3 {
  color: #229df9;
}
.page__menu__papille {
  background-color: #edefef;
  color: #0887fb;
  font-family: "Bad Script";
}
.page__menu__papille .title {
  background: linear-gradient(25deg, #0228dd, #0670f3, #229df9 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Dancing Script";
  font-weight: normal;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 20px;
}
.page__menu__papille .subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 2em;
}
.page__menu__papille .subtitle__menu {
  font-family: "Bad Script";
  font-weight: bold;
  font-size: 1.5rem;
}
.page__menu__papille .subtitle__menu__note__1 {
  color: #3c1218;
}
.page__menu__papille .subtitle__menu__chic__1 {
  color: #C67412;
}
.page__menu__papille .subtitle__menu__papille__1 {
  color: #0228dd;
}
.page__menu__papille .subtitle__menu__palette__1 {
  color: #72bf56;
}
.page__menu__papille .subtitle__menu__chic__2 {
  color: #A56799;
}
.page__menu__papille .subtitle__menu__papille__2 {
  color: #0670f3;
}
.page__menu__papille .subtitle__menu__chic__3 {
  color: #6E4CCC;
}
.page__menu__papille .subtitle__menu__papille__3 {
  color: #229df9;
}
.page__menu__palette {
  background-color: #fdfffd;
  color: #72bf56;
  font-family: "Bad Script";
}
.page__menu__palette .title {
  background: linear-gradient(25deg, #3d9339, #bfff7e 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Kaushan Script";
  font-weight: normal;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 20px;
}
.page__menu__palette .subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 2em;
}
.page__menu__palette .subtitle__menu {
  font-family: "Bad Script";
  font-weight: bold;
  font-size: 1.5rem;
}
.page__menu__palette .subtitle__menu__note__1 {
  color: #3c1218;
}
.page__menu__palette .subtitle__menu__chic__1 {
  color: #C67412;
}
.page__menu__palette .subtitle__menu__papille__1 {
  color: #0228dd;
}
.page__menu__palette .subtitle__menu__palette__1 {
  color: #72bf56;
}
.page__menu__palette .subtitle__menu__chic__2 {
  color: #A56799;
}
.page__menu__palette .subtitle__menu__papille__2 {
  color: #0670f3;
}
.page__menu__palette .subtitle__menu__chic__3 {
  color: #6E4CCC;
}
.page__menu__palette .subtitle__menu__papille__3 {
  color: #229df9;
}
.page__menu__part {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-row-gap: 1rem;
  width: 100%;
}
.page__menu__part aside {
  text-align: left;
}
.page__menu__part article {
  text-align: right;
}
.page__menu__link {
  color: #FDCB46;
}

.sidebar {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 10px;
  width: 150px;
}
@media screen and (max-width: 1024px) {
  .sidebar {
    height: 5px;
    width: 100px;
  }
}
@media screen and (max-width: 599px) {
  .sidebar {
    height: 0;
    width: 0;
  }
}
.sidebar__right {
  transform: scaleX(-1);
}
.sidebar__note__1 {
  background-image: url("../../img/note_1.png");
}
.sidebar__chic__1 {
  background-image: url("../../img/chic_1.png");
}
.sidebar__papille__1 {
  background-image: url("../../img/papille_1.png");
}
.sidebar__palette__1 {
  background-image: url("../../img/palette_1.png");
}
.sidebar__note__2 {
  background-image: url("../../img/note_2.png");
}
.sidebar__chic__2 {
  background-image: url("../../img/chic_2.png");
}
.sidebar__papille__2 {
  background-image: url("../../img/papille_2.png");
}
.sidebar__palette__2 {
  background-image: url("../../img/palette_2.png");
}
.sidebar__note__3 {
  background-image: url("../../img/note_3.png");
}
.sidebar__chic__3 {
  background-image: url("../../img/chic_3.png");
}
.sidebar__papille__3 {
  background-image: url("../../img/papille_3.png");
}
.sidebar__palette__3 {
  background-image: url("../../img/palette_3.png");
}

.underline {
  position: relative;
}
.underline:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}
.underline:hover:before {
  transform: scaleX(1);
}
.underline__note__1:before {
  background-color: #3c1218;
}
.underline__chic__1:before {
  background-color: #C67412;
}
.underline__papille__1:before {
  background-color: #0228dd;
}
.underline__palette__1:before {
  background-color: #72bf56;
}
.underline__chic__2:before {
  background-color: #A56799;
}
.underline__papille__2:before {
  background-color: #0670f3;
}
.underline__chic__3:before {
  background-color: #6E4CCC;
}
.underline__papille__3:before {
  background-color: #229df9;
}

/*# sourceMappingURL=style.css.map */
