/* Variables */
$logo-font: 'Roboto';
$green: #579c87;
$yellow: #FDCB46;
$white: #FFF;
$chic-color1:#C67412;
$chic-color2:#A56799;
$chic-color3:#6E4CCC;
$title-prm2: text;
$title-prm3: transparent;
$num-dots: 3;
$anim-dur: 1s;
$anim-delay: $anim-dur / $num-dots;

$types: (note, chic, papille, palette);

/* $breakpoints: (
  mobile: 599px,
); */

$mobile:599px;

$title: (
    note: (
        title: #3c1218,
        font: 'Devonshire',
        weight: lighter,
        size: 3vw,
    ),
    chic: (
        title: linear-gradient(140deg, $chic-color1, $chic-color2, $chic-color3),
        font: 'Croissant one',
        weight: lighter,
        size: 2.5vw,
    ),
    papille: (
        title: linear-gradient(25deg, #0431df, #0887fb 60%),
        font: 'Dancing Script',
        weight: normal,
        size: 3vw,
    ),
    palette: (
        title: linear-gradient(25deg, #3d9339, #bfff7e 60%),
        font: 'Kaushan Script',
        weight: normal,
        size: 3vw,
    )
);

$subtitle: (
    note: (
        font-sub: 'Sriracha',
        weight-sub: lighter,
        size-sub: 3vw,
    ),
    chic: (
        font-sub: 'Noto Serif',
        weight-sub: bold,
        size-sub: 3vw,
    ),
    papille: (
        font-sub: 'Bad Script',
        weight-sub: bold,
        size-sub: 3vw,
    ),
    palette: (
        font-sub: 'Bad Script',
        weight-sub: bold,
        size-sub: 3vw,
    )
);

$sub_menu: (
    note: (
        font-sub: 'Sriracha',
        weight-sub: lighter,
        size-sub: 1.5vw,
    ),
    chic: (
        font-sub: 'Noto Serif',
        weight-sub: bold,
        size-sub: 1.5vw,
    ),
    papille: (
        font-sub: 'Bad Script',
        weight-sub: bold,
        size-sub: 1.5vw,
    ),
    palette: (
        font-sub: 'Bad Script',
        weight-sub: bold,
        size-sub: 1.5vw,
    )
);
$note-txt:#3c1218;
$chic-txt:#c77412;
$papille-txt:#0887fb;
$palette-txt:#72bf56;


$resto: (
    note: (
        font: 'Sriracha',
        back: #fcdfdb,
        txt: $note-txt,
    ),
    chic: (
        font: 'Noto Serif',
        back: #fff5fe,
        txt: $chic-txt,
    ),
    papille: (
        font: 'Bad Script',
        back: #edefef,
        txt: $papille-txt,
    ),
    palette: (
        font: 'Bad Script',
        back: #fdfffd,
        txt: $palette-txt,
    )
);

/* Mixins*/
@mixin mobile-only {
    @media screen and (max-width: $mobile){
      @content;
    }
  }

@mixin restotest($state) {
    $plt: map-get($resto, $state);
    background-color: map-get($plt, back);
    color: map-get($plt, txt);
    font-family: map-get($plt,font);
}

@mixin title($state) {
    $plt:map-get($title, $state);
    background: map-get($plt,title);
    -webkit-background-clip: $title-prm2;
    -webkit-text-fill-color: $title-prm3;
    font-family: map-get($plt,font);
    font-weight: map-get($plt,weight);
    font-size: map-get($plt,size);
}

@mixin subtitle($state) {
    $plt:map-get($subtitle, $state);
    font-family: map-get($plt,font-sub);
    font-weight: map-get($plt,weight-sub);
    font-size: map-get($plt,size-sub);   
}

@mixin sub_menu($state) {
    $plt:map-get($sub_menu, $state);
    font-family: map-get($plt,font-sub);
    font-weight: map-get($plt,weight-sub);
    font-size: map-get($plt,size-sub);   
}

@mixin heading-style {
    background-color: $green;
    color: $yellow;
    font-family: $logo-font, sans-serif;
}

/* Général */

body {
    font-family: $logo-font, sans-serif;
    margin: 0px;
    font-size: 1.2vw;
}

h2 {
    margin: 0px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    }

i {
    background: -webkit-linear-gradient(#f04a5e, #f8a183);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header {
    @include heading-style;
    font-size: 2vw;
    padding: 1.5vw;
    text-align: center;
    font-weight: 900;  
}

footer {
    @include heading-style;
    font-size: 1.5vw;
    padding: 1vw;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

/* animations */ 
.shake:hover {
    animation: shakes 1s ease-in-out;
}

@keyframes shakes {
    10%, 90% {
        transform: translateX(-1px);
      }
      
      20%, 80% {
        transform: translateX(2px);
      }
    
      30%, 50%, 70% {
        transform: translateX(-4px);
      }
    
      40%, 60% {
        transform: translateX(4px);
      }
}

@keyframes dots {
    0% {
        transform: translateY(200%);
    };
    100% {
        transform: translateY(0%);
    };
}

/* Home */
.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    @include mobile-only{
        flex-direction: column;
        flex-wrap: unset;
        align-items: center;
        }
    &__menu {
        width: 35vw;
        height: 45vw;
        margin: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
        transition: transform 500ms ease-in-out;
        @each $type in $types {
            &__#{$type} {
                .title {
                    @include title($type);
                }
                .sub_home {
                    @include subtitle($type);
                }
                @include restotest($type);
            }
        }
        &:hover {
            transform: scale(1.1);
        }
        i {
            font-size: 8vw;
        }
    }
    &__next {
        margin-bottom: 10vw;
        display: flex;
        justify-content: center;
    }
    &__btn_next {
        @include heading-style;
        width: 25vw;
        height: 3vw;
        font-size: 1.5vw;
        border-radius: 1vw;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 500ms ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
        .load {
            width: 40px;
            height: 25px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            &_dot {
                background-color: $yellow;
                height: 5px;
                width: 5px;
                animation: dots $anim-dur backwards infinite ease-in-out alternate;
                @for $i from 1 through $num-dots {
                    &--#{$i} {
                        animation-delay: $anim-delay * $i;
                    }
                }
            }
        }
    }
}

/* Menu */ 

.page {
    display: flex;
    justify-content: center;
    &__menu {
        height: 45vw;
        margin: 2vw 15vw 3vw;
        padding: 6vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
        @each $type in $types {
            &__#{$type} {
                .title {
                    @include title($type);
                }
                .sub {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                &__menu {
                    @include sub_menu($type);
                }
            }
                @include restotest($type);
            }
        }
        &__part {
            display: flex;
        }
        &__link {
            color: $yellow;
        }
        i {
            font-size: 3vw;
        }
    }
}

.sidebar {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 2vw;
    width: 10vw;
    &__right {
        transform: scaleX(-1);
    }
    @for $i from 1 through 3 {
        @each $type in $types {
            &__#{$type}__#{$i} {
             background-image: url("../img/#{$type}_#{$i}.png");
            }
        }
    }
}

/*underline test*/


.underline {
    position: relative;
  }
  .underline:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    background-color: $papille-txt;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
  }

  .underline:hover:before {
    transform: scaleX(1);
  }