body {
    font-family: 'Roboto', sans-serif;
}

$green: #579c87;
$yellow: #FDCB46;
$white: #FFF;
$note-back: #fcdfdb;
$note-text: #3c1218;
$chic-back: #fff5fe;
$chic-text: #C77412;
$papille-back: #f9f9f9;
$papille-text: #0887fb;
$palette-back: #fdfffd;
$palette-text: #72bf56;



@mixin heading-style {
    background-color: $green;
    color: $yellow;
}

header {
    font-family: 'Roboto', sans-serif;
    @include heading-style;
    text-align: center;
    font-weight: 900;
    font-size: 3em;
    padding: 50px;
}

footer {
    @include heading-style;
    font-size: 2em;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
}

.home_menu {
    width: 40%;
    min-height: 40vh;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition: transform 500ms ease-in-out;
    &__note {
        background-color: $note-back;
        color: $note-text;
    }

    &__chic {
        background-color: $chic-back;
        h1 {
            background: -webkit-linear-gradient(#d8852e, #905bfd);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        h2 {
            color: $chic-text;
        }
        ;
    }

    &__papille {
        background-color: $papille-back;
        h1 {
            background: -webkit-linear-gradient(#0431df, #0887fb);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        h2 {
            color: $papille-text;
        }
        ;
    }

    &__palette {
        background-color: $palette-back;
        h1 {
            background: -webkit-linear-gradient(#3d9339, #bfff7e);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        h2 {
            color: $palette-text;
        }
        ;
    }
    &:hover {
        transform: scale(1.1);
    }
    i {
        font-size: 72px;
        background: -webkit-linear-gradient(#f04a5e, #f8a183);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.menu_note_h1 {
    font-family: 'Devonshire';
    font-weight: lighter;
}

.menu_note_h2 {
    font-family: 'Sriracha';
    font-weight: lighter;
}

.menu_chic_h1 {
    font-family: 'Croissant one';
}

.menu_chic_h2 {
    font-family: 'Noto Serif';
    font-weight: bold;
}

.menu_papille_h1 {
    font-family: 'Dancing Script';
}

.menu_papille_h2 {
    font-family: 'Bad Script';
    font-weight: bold;
}

.menu_palette_h1 {
    font-family: 'Kaushan Script';
}

.menu_palette_h2 {
    font-family: 'Bad Script';
    font-weight: bold;
}

.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}