.menu_home {
    max-width: 40%;
    height: auto;
    margin: 2%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition: transform 500ms ease-in-out;
    &:hover {
        transform: scale(1.1);
    }

}
.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}